
.larger-text {
  font-size: 60px;
}
body {
  font-family: Arial, sans-serif;
}
body {
  background-color: lightblue;
}
body {
  color: tan;
}
body{
  text-shadow: -1px 1px 0 white;
} 
body {
  text-align: center;
}
.container {
  height: 1000px; 
  overflow: hidden; 
}
.container {
  width: 550px; 
  overflow: hidden; 
}
