
.smaller-text {
  font-size: 30px;
}

.larger-text {
  font-size: 32px;
}
body {
  font-family: Arial, sans-serif;
}
body {
  background-color: lightblue;
}
body {
  color: tan;
}
body{
  text-shadow: -2px 2px 0 white;
} 
body {
  text-align: center;
}
.container {
  height: 750px; 
  overflow: hidden; 
}
.container {
  width: 550px; 
  overflow: hidden; 
body {
  width: 500px; /* set the width to 550 pixels */
  height: calc(550px * 16 / 9); /* set the height based on the width and aspect ratio */
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
    padding: 10px;
  }
}
